/* board design designed for an n sized tic-tac-toe board */

:root {
    --grid-color: red;
    /*#F0A868;*/
    /* light yeellow */
    --player-x: #6A8D73;
    /* Dusty Olive */
    --player-o: #DE3C4B;
    /* Sandry Brown */

    --board-size: 3;
    --max-board-width: 600px;
    --max-board-height: 600px;
    --min-board-width: 100px;
    --min-board-height: 100px;

    --grid-border-size: 2px;
    --sign-size: clamp(0.25rem, calc((35vmin / var(--board-size)) * 0.75), 10rem);
}

.board-container {

    /* creates a square shape regardless of view size.
        if contained, the ultimate parent must fill the page */
    box-sizing: border-box;
    width: 80vmin;
    height: 80vmin;

    grid-template-rows: repeat(var(--board-size), minmax(0, 1fr));
    grid-template-columns: repeat(var(--board-size), minmax(0, 1fr));


}

/* left slots */

.slot-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot {

    color: var(--player-x);
    font-size: var(--sign-size);

}

.playerX {
    color: var(--player-x)
}

.playerO {
    color: var(--player-o)
}

.top-left-slot {
    border-bottom: var(--grid-border-size) solid var(--grid-color);
    border-right: var(--grid-border-size)solid var(--grid-color);
}

.middle-left-slot {
    border-bottom: var(--grid-border-size) solid var(--grid-color);
    border-right: var(--grid-border-size) solid var(--grid-color);
    border-top: var(--grid-border-size) solid var(--grid-color);
}

.bottom-left-slot {
    border-right: var(--grid-border-size) solid var(--grid-color);
    border-top: var(--grid-border-size) solid var(--grid-color);
}

/* middle slots */

.top-middle-slot {
    border-bottom: var(--grid-border-size) solid var(--grid-color);
    border-left: var(--grid-border-size) solid var(--grid-color);
    border-right: var(--grid-border-size) solid var(--grid-color);
}

.middle-slot {
    border-top: var(--grid-border-size) solid var(--grid-color);
    border-right: var(--grid-border-size) solid var(--grid-color);
    border-left: var(--grid-border-size) solid var(--grid-color);
    border-bottom: var(--grid-border-size) solid var(--grid-color);
}

.bottom-middle-slot {
    border-left: var(--grid-border-size) solid var(--grid-color);
    border-right: var(--grid-border-size) solid var(--grid-color);
    border-top: var(--grid-border-size) solid var(--grid-color);

}

/* right slots */

.top-right-slot {
    border-bottom: var(--grid-border-size) solid var(--grid-color);
    border-left: var(--grid-border-size) solid var(--grid-color);
}

.middle-right-slot {
    border-left: var(--grid-border-size) solid var(--grid-color);
    border-top: var(--grid-border-size) solid var(--grid-color);
    border-bottom: var(--grid-border-size) solid var(--grid-color);
}

.bottom-right-slot {
    border-left: var(--grid-border-size) solid var(--grid-color);
    border-top: var(--grid-border-size) solid var(--grid-color);
}